* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #ff4d6d, #ff758f);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: white;
  padding: 25px;
  border-radius: 20px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 15px 40px rgba(0,0,0,0.3);
}

h1 {
  color: #ff4d6d;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

button {
  padding: 12px 25px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

#yesBtn {
  background: #ff4d6d;
  color: white;
}

#yesBtn:hover {
  transform: scale(1.1);
}

#noBtn {
  background: #ddd;
  color: black;
  position: relative;
}

/* RESULT TEXT */
#result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #ff4d6d;
}

/* HIDE CLASS */
.hidden {
  display: none;
}

/* PHOTOS */
.photos {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.photos img {
  width: 150px;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}
