* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Main box */
.container {
  background: white;
  padding: 30px 20px;
  border-radius: 20px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.2);
}

/* Question text */
h1 {
  color: #ff4d6d;
  margin-bottom: 20px;
}

/* Buttons */
.buttons {
  position: relative;
  height: 80px;
}

button {
  padding: 10px 22px;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

#yesBtn {
  background: #ff4d6d;
  color: white;
}

#noBtn {
  background: #ddd;
  color: #333;
  position: absolute;
}

/* NO button message */
#noText {
  margin-top: 15px;
  color: #ff4d6d;
  font-weight: bold;
}

/* Hide/show */
.hidden {
  display: none;
}

/* Result box */
.result {
  background: white;
  padding: 30px 20px;
  border-radius: 20px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.2);
}

.result h1 {
  color: #ff4d6d;
}

/* Photos */
.photos {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.photos img {
  width: 140px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  }
