* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #ff4d6d, #ff9a9e);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.3);
}

h1 {
  color: #ff4d6d;
}

.buttons {
  margin-top: 20px;
  position: relative;
  height: 80px;
}

button {
  padding: 12px 25px;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

#yesBtn {
  background: #ff4d6d;
  color: white;
}

#noBtn {
  background: #ddd;
  position: absolute;
}

#noText {
  margin-top: 15px;
  color: #ff4d6d;
  font-weight: bold;
}

.hidden {
  display: none;
}

.photos {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.photos img {
  width: 140px;
  border-radius: 15px;
  }
